<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Thelalasis</title>
    <!-- Loading Bootstrap -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'css/mdb.css' %}" rel="stylesheet"> -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard.css' %}" rel = "stylesheet">
    <link href="{% static 'css/datatables.css' %}" rel = "stylesheet">
    <!-- Bootstrap -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/boostrap.min.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'js/mdb.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'js/datatables.js' %}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark primary-color">
      <!-- Navbar brand -->
      <a class="navbar-brand" href="{% url 'blog:index' %}">T</a>
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'blog:index' %}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:article_list' %}">文章</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:accident_list' %}">事故</a>
                </li>
                <!-- Dropdown -->
            </ul>
            <!--
            <div class="btn-group">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu dropdown-primary">
                    <a class="dropdown-item" href="{% url 'blog:article_list' %}">文章</a>
                    <a class="dropdown-item" href="{% url 'blog:accident_list' %}">事故</a>
                    <a class="dropdown-item" href="#">照片</a>
                </div>
            </div>
          </div>
           -->
            <!-- Links -->
            <form class="form-inline">
                <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </div>
            </form>
        </div>
        <!-- Collapsible content -->
      </nav>
    </header>
